---
title: About/Bibliography
heading: BIBLIOGRAPHY
subtitle: Unit 15 project for CHEM 30-1 <br><br>
 [1] <i> Renewable Energy Perspectives </i> <br> https://www.iea.org/reports/nuclear-power-in-a-clean-energy-system <br> 
 [2] <i> What is Nuclear Energy? </i> <br> https://e360.yale.edu/features/why-nuclear-power-must-be-part-of-the-energy-solution-environmentalists-climate <br> 
 [3] <i> Technology Of Nuclear Energy </i> <br>  https://www.duke-energy.com/Energy-Education/How-Energy-Works/Nuclear-Power  <br> 
 [4] <i> Okra Natural Nuclear Reactor </i> <br>  https://en.wikipedia.org/wiki/Natural_nuclear_fission_reactor <br> 
 [5] <i> Nuclear Energy Canda Usage <i> <br> https://www.cer-rec.gc.ca/nrg/sttstc/lctrct/rprt/2018nclrnrg/nclrgnrtn-eng.html <br> 
---

<section class="diagonal patterned">
	<div class="container">
	    <p class="editor-link" style="text-align: center;"><a href="cloudcannon:collections/_staff_members/" class="btn"><strong>&#9998;</strong>Manage Staff members</a></p>
		<ul class="image-grid">
			{% for member in site.staff_members %}
				<li>{% include staff-member.html member=member %}</li>
			{% endfor %}
		</ul>
	</div>
</section>
