---
title: Urban
---

<section class="hero diagonal">
	<div class="container">
		<h2 class="editable">Nuclear Energy. Where does it come from and is it renewable? </h2>
		<p class="subtext editable"> 
		The source of nuclear energy coems from <strong> chemical potential energy, </strong> more specifically, the splitting of uranium atoms to spin turbines. However, whether nuclear energy is renewable energy has been the subject of major and very controversial debate. To put matters into perspective, it is important to first take heed to what the definition of renewable energy even is. 
<br> <br> <strong> Renewable energy is defined as an energy source/fuel type that can regenerate and can replenish itself indefinitely. </strong> <br> <br>

As someone doing research into the topic, it is important to find light in both perspectives since the renewability of nuclear energy is not black and white. 

<br> <br> <strong> Perspectives that nuclear energy is renewable; </strong>

Much support of nuclear energy centralize around it’s low carbon emission as its major characteristic to be defined as renewable energy. According to nuclear power opponents, if the goal to build a renewable energy infrastructure is to lower carbon emission then there is no reason for not including nuclear energy in that list. 

But one of the most interesting arguments for including nuclear energy in the renewable energy portfolio came from Bernard L Cohen, former professor at University of Pittsburg. Professor Cohen defined the term 'indefinite'(time span required for an energy source to be sustainable enough to be called renewable energy) in numbers by using the expected relationship between the sun (source of solar energy) and the earth. According to Professor Cohen, if the Uranium deposit could be proved to last as long as the relationship between the Earth and Sun is supposed to last (5 billion years) then nuclear energy should be included in the renewable energy portfolio. 


<br> <br> <strong> Perspectives that nuclear energy is non-renewable </strong> 

One of the biggest arguments against including nuclear energy in the list of renewables is the fact that uranium deposits on earth are finite, unlike solar and wind. To be counted as renewable, the energy source (fuel) should be sustainable for an indefinite period of time, according to the definition of renewable energy.

	</p>
		<p></p>
	</div>
</section>

<section class="diagonal patterned">
	<div class="container halves">
		<div>
			<h3 class="editable">How does the technology work? </h3>
			<p class="editable"></p>
			<p class="editable"><a href="{{ site.baseurl }}/portfolio/">View Full Portfolio &rarr;</a></p>
		</div>
		<div>
			<ul class="image-grid">
				{% for client in site.clients limit: 4 %}
					<li><a href="{{ site.baseurl }}{{ client.url }}"><img src="{% include relative-src.html src=client.image_path %}"></a></li>
				{% endfor %}
			</ul>
		</div>
	</div>
</section>

<section class="diagonal alternate">
	<div class="container halves">
		<div>
			<ul class="image-list">
				<li><img src="{{ site.baseurl }}/images/cloudcannon-logo-blue.svg" width="250" style="margin-bottom: 40px;"></li>
				<li><img src="{{ site.baseurl }}/images/jekyll-logo-black-red-transparent.png" width="300"></li>
			</ul>
		</div>
		<div>
			<h3 class="editable">Latest software, greatest perfomance</h3>
			<p class="editable">As a new agency we get reap the benefits of the latest and greatest. We build our websites with the most up to date technology. This ensures your website is fast, efficient and reliable for many years.</p>
		</div>
	</div>
</section>
